Technologies and Tools:
  * Web Technology: Chrome
  * Development Tool: GITHUB
  * Web Server: IIS
  * Web browser: Google Chrome
  * Languages Used: C
 
Hardware
  CPU configuration
 - INTEL processors 
 - RAM 4 GB DDR4
 Operating System
  -Windows 10,LINUX
